apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 3
  
  template:
    spec:
      containers:
      - name: flask-app
        envFrom:
        - configMapRef:
            name: prod-flask-app-config
        
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
