apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 2
  
  template:
    spec:
      containers:
      - name: flask-app
        envFrom:
        - configMapRef:
            name: staging-flask-app-config
        
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
