apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
spec:
  replicas: 1
  
  template:
    spec:
      containers:
      - name: flask-app
        envFrom:
        - configMapRef:
            name: dev-flask-app-config
        
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
